<!DOCTYPE html>
<html>
  <head>
    <title>Shaed</title>
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/style.css' rel='stylesheet' />
  </head>
  <body>
    <a href="http://github.com/newsinternational/shaed"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span3'>
          <ul class='nav nav-list well'>
            <li class='nav-header'>
              Introduction
            </li>
            <li>
              <a href='#what_is_it'>What is Shaed?</a>
            </li>
            <li>
              <a href='#screenshots'>Screenshots</a>
            </li>
            <li>
              <a href='#features'>Features</a>
            </li>
            <li class='nav-header'>
              Getting Started
            </li>
            <li> 
              <a href="#requirements">Requirements</a>
            </li>
            <li> 
              <a href="#getting_the_code">Getting the code</a>
            </li>
            <li>
              <a href="#running_manually">Running manually</a>
            </li>
            <li>
              <a href="#deploying_to_heroku">Deploying to Heroku</a>
            </li>
            <li class='nav-header'>
              Using Shaed
            </li>
            <li>
              <a href="#mappings">Mappings</a>
            </li>
          </ul>
        </div>
        <div class='span9'>
          <div class='hero-unit'>
            <h1>
              Shaed
            </h1>
            <h2>
              A web request proxy for masking parameters, services, and caching third-party APIs.
              <br />
              <small>A News International Research & Development project</small>
            </h2>
          </div>

          <div class='content'>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
